<!DOCTYPE html>
<html lang="en">
  <%-include("layouts/header");-%>
  <body>
    <%-include("layouts/navbar");-%>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Clean Blog</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="standard-wrapper">
      <header>
        <div>
          <h2>Search For Posts</h2>
        </div>
        <div class="header-form">
          <form action="/shop/1/">
            <input type="text" name="search" placeholder="Search" />
            <button type="submit">Search</button>
          </form>
        </div>
        <div><h4>Displaying Total <span><%= numOfResults %></span> Results</h4>
          <h4>
            Page 
            <span><%= currentPage %></span> 
            of 
            <span><%= pages %></span> 
          </h4></div>
      </header>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% for (var i=0; i < blogposts.length; i++) {%>
          <div class="post-preview">
            <a href="/post/<%=blogposts[i]._id%>">
              <h2 class="post-title"><%=blogposts[i].title%></h2>
              <h3 class="post-subtitle"><%-blogposts[i].body%></h3>
            </a>
            <p class="post-meta">
              Posted by <%=blogposts[i].userid.username %> on <%=
              blogposts[i].datePosted.toDateString() %>
            </p>
          </div>
          <hr />
          <% } %>

          <!-- Pager -->
          <div class="clearfix">
            <% if (currentPage == 1 && pages > 1) { %>
            <a
              class="btn btn-primary float-right"
              href="/<%= parseInt(currentPage) + 1 %>"
              >Page <%= parseInt(currentPage) + 1 %> &rarr;</a
            >
            <% } else if (currentPage < pages) { %>
            <a class="btn btn-primary float-left" href="/<%= parseInt(currentPage) - 1 %>">
              &larr; Page <%= parseInt(currentPage) - 1 %>
            </a>
            <a class="btn btn-primary float-right" href="/<%= parseInt(currentPage) + 1 %>">
              Page <%= parseInt(currentPage) + 1 %> &rarr;
            </a>
            <% } else if (currentPage == pages && pages > 1) { %>
              <a class="btn btn-primary float-left"
              href="/<%= parseInt(currentPage) - 1 %>">
                &larr; Page 
                <%=parseInt(currentPage) - 1 %>
              </span>
              </a>
              <% } %>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <%-include("layouts/footer");-%> <%- include("layouts/script"); -%>
  </body>
</html>
